$green:#3F5D45;
$white:#EAF0ED;
$yellow:#FFE180;

.footer{
    padding-top: 60px;
}

.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F5D45;
    padding: 30px 10%;

    & img{
        display: block;
        height: 40px;
        padding-right: 20px;
    }
    & p{
        color:$white;
        font-size: 24px;
        line-height: 33px; 
    }
}



.sign {
    display: flex;
    justify-content: space-between;
    align-items: center;  
   
}
form{
    display: flex;
    justify-content: space-between;
}
.mail{
    background: $white url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true) no-repeat 20px 20px;
    padding: 16px 16px 16px 64px;
    line-height: 24px;
    border: none;
}
.submit{
    background-color:$yellow;
    padding: 20px 24px;
}

.contact{
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    background-color: $white;
flex-direction: row;

}

.left img{

    height: 26.6px;
    padding-top:38.9px;
    padding-bottom:115.5px;
}
.information{
   font-size:20px;
    line-height: 30px;
  
}
.icon img{
    height: 32px;
    padding-right: 8px;
    padding-top: 32px;
}

.right{
    display: flex;
    flex-direction: column;
    & p{
    
        color:$green;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }
}

.slogan{
    display: flex;
    flex-direction: row-reverse;
 & p{
    color:$green;
    font-family: 'Noto Serif TC', 'Microsoft MingLiU', serif;
    font-size: 22px;
    line-height: 28px;
    writing-mode: vertical-rl;
    padding-bottom: 130px;
}
& p:last-of-type{
    padding-top: 10px;
}
}

