@media(max-width: 400px) {
    
  .header{
      padding-top:33px;
  }

  .image{
    background-position:center;
    background-repeat: no-repeat;
   width:375px;
   height:518px;
    background-image: url(https://bit.ly/2P7GhNd);
}

  .click{
  left:0;
  width:305px;
  bottom: 0;
}


.check{
    bottom:320px;
     width: 190px;
    height: auto;
   right:22%;
  }

.success{
    bottom:250px;
    right:22%;
  }
   
  
  .flip,.logonew {
       
        display: block;
    }
    .logonew{
        height: 24px;
    }
    .flip{
        padding-left: 30px;
    }
    .cart{
        display: block;
      padding-right: 16px;
    }
    .logo, .choose ul,.slogan,.option ul{
        display: none;
    }
   
    .footer{
        padding-top:0px;

    .subscribe,.contact{
        flex-direction: column;}
      
    }
    .left img{
        padding-bottom:39.5px; 

        }
    form{
        padding-top: 30px;
    }
 
   .contact{
       font-size: 16px;
   }
   
    
}